@use './colors';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	color: colors.$first-color;
	background-color: #333;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 4fr);
	grid-template-rows: repeat(4, 4fr);
	margin: 50px auto;
	height: 100vh;
	width: 60%;
	background-color: colors.$third-color;
}
.header {
	grid-column: 3/7;
	display: flex;
	justify-content: center;
	align-items: center;
	.name {
		width: 100%;
		border-left: white 0.5px solid;
		background-color: colors.$fifth-color;
		box-shadow: 0px 4px 5px 0px;
	}
	h1 {
		font-weight: normal;
		font-size: 1.7rem;
		text-align: center;
		line-height: 70px;
		letter-spacing: 1px;
		height: 70px;
	}
}

.main {
	grid-column: 3/7;
	grid-row: 2/4;
}
.aside {
	position: relative;
	grid-column: 1/3;
	grid-row: 1/5;
	background-color: colors.$fifth-color;
	.photo {
		position: absolute;
		left: 50%;
		top: 18%;
		transform: translate(-50%, -50%);
		width: 130px;
		height: 170px;
		background-image: url('.././img/woman-g0590a7be4_1920.jpg');
		background-position: center;
		background-size: cover;
	}
}
.footer {
	grid-column: -5/-1;
	grid-row: 4/5;
}
