* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 3.6rem;
	background-color: #333;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 4fr);
	grid-template-rows: repeat(4, 4fr);
	margin: 50px auto;
	height: 100vh;
	width: 60%;
	background-color: hsl(210, 2%, 78%);
}
.header {
	grid-column: 3/7;

}

.main {
	grid-column: 3/7;
	grid-row: 2/4;

}
.footer {
	grid-column: -5/-1;
	grid-row: 4/5;

}
.aside {
	grid-column: 1/3;
	grid-row: 1/5;

}

