@use '../scss/colors' as c;
@use '../scss/font-size' as fz;
:root {
	--button-border: hsl(96, 4%, 37%);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: c.$first-color;
	background-color: #333;
}
.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 4fr);
	grid-template-rows: repeat(5, 4fr);
	margin: 50px auto;
	width: 600px;
	background-color: c.$third-color;
	box-shadow: 1px 1px 1px 1px black;
}
.line {
	width: 90%;
	height: 2px;
	border-radius: 1px;
	background: linear-gradient(90deg, c.$fifth-color, c.$third-color);
}
.header {
	grid-column: 3/7;
	display: flex;
	justify-content: center;
	align-items: center;
	.name {
		width: 100%;
		border-left: c.$fourth-color 0.5px solid;
		background-color: c.$fifth-color;
		box-shadow: 0px 4px 5px 0px c.$fourth-color;
	}
	h1 {
		font-weight: normal;
		font-size: fz.$h1;
		text-align: center;
		line-height: 70px;
		letter-spacing: 1px;
		height: 70px;
	}
}

.main {
	position: relative;
	grid-column: 3/7;
	grid-row: 2/5;
	margin: 0 0 0 20px;
}
.structure {
	width: 100%;
	h2 {
		font-size: fz.$h2;
		display: inline-block;
	}
	i {
		font-size: fz.$i;
		padding: 0 10px 5px;
	}
	p {
		font-size: fz.$p;
		margin-top: 10px;
		padding-left: 5px;
		padding-right: 10px;
	}
}
.projects {
	height: 200px;
}
.education {
	margin-top: 20px;
}
.hobby {
	height: 150px;
	margin-top: 20px;
}
.info {
	margin-left: 20px;
}
.aside {
	display: grid;
	position: relative;
	grid-template-rows: repeat(5, 20%);
	grid-column: 1/3;
	grid-row: 1/7;
	background-color: c.$fifth-color;

	h2 {
		display: inline-block;
	}
	.fa-solid {
		font-size: fz.$i;
		padding-right: 5px;
	}
	.contact {
		grid-row: 3/4;
	}
	.skills {
		grid-row: 4/5;
	}
}
.contact-list {
	padding-top: 20px;
	list-style-type: none;
	a {
		font-size: fz.$p;
		display: inline-block;
		text-decoration: none;
	}
	a:visited,
	a:link {
		color: c.$first-color;
	}
	.contact-icon {
		font-size: 0.8rem;
		display: inline-block;
	}
}
.skills {
	list-style-type: none;
	li {
		padding-left: 5px;
		padding-top: 20px;
	}
}
.cards {
	display: flex;
	margin: 30px auto 0;
	width: 90%;
	height: 250px;
}
.card {
	position: relative;
	margin: 10px;
	width: 90%;
	height: 250px;
	text-align: center;
	background-image: url('.././img/woman-g0590a7be4_1920.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	overflow: hidden;
}
.question-circle {
	position: absolute;
	right: 10px;
	top: 10px;
	background: none;
	color: c.$first-color;
	font-size: fz.$i;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
	cursor: crosshair;
	z-index: 10;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 5px;
	background-color: rgba(0, 0, 0, 0.85);
	clip-path: circle(0 at 50%);
	transition: clip-path 0.8s;

	h2 {
		font-size: 1rem;
	}
	p {
		font-size: 0.7rem;
	}
}
.question-circle:hover ~ .text {
	clip-path: circle(120% at 50%);
}
.footer {
	grid-column: -5/-1;
	grid-row: -2/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	.clause {
		text-align: center;
	}
}
.print-button {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 20px;
	background: transparent;
	color: c.$first-color;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0 2px 0 0 var(--button-border),
		1px 0 10px -1px var(--button-border), -1px 0 10px -1px var(--button-border);
	border: 1px solid var(--button-border);
	border-radius: 5px;
}
.print-button:active {
	box-shadow: inset 2px 2px 3px 0 var(--button-border);
}
.portrait {
	display: none !important;
}
@media print {
	body {
		color: black;
	}
	.grid-wrapper {
		background-color: white;
		box-shadow: none;
	}
	.header {
		.name {
			box-shadow: none;
			border-left: none;
			border-bottom: 2px solid black;
		}
	}
	.portrait {
		display: inline !important;
		margin: 10px;
		width: 90%;
		height: 250px;
		background-position: center;
		background-size: cover;
	}
	.question-circle {
		display: none;
	}
	.text {
		display: none;
	}
	.print-button {
		display: none;
	}
}
